<%# プロフィール編集画面 %>
<h1>profile edit</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div style="font-size:medium">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        Name：
        <%= f.text_field :name %>
        Email：
        <%= f.text_field :email %>
        Password：(変更がない場合は編集不要)
        <%= f.password_field :password %>
        Confirmation：(変更がない場合は編集不要)
        <%= f.password_field :password_confirmation %>
      
        location：
        <%= f.text_field :location %>
        profile：
        <%= f.text_area :profile %>
        
        <%= f.submit "update" %>
      <% end %>
    </div>
  </div>
</div>
    
